
//- --------------------------------------------------------
//- Main
//- --------------------------------------------------------

.test-box
  display: block
  width: 80%
  margin: 100px auto
  height: 600px
  

.matrix
  background: #000
  overflow: scroll

  .row
    display: block
    height: 1px
    line-height: 1px
    width: auto
    
    div
      line-height: 1px
      width: 1px
      height: 1px
      display: block
      background: yellow
      float: left